@{
    ViewBag.Title = "GioHang";
    Layout = "~/Views/Shared/_LayoutCart.cshtml";
}

@using DoAn.Models
@model List<Giohang>

<div class="sixteen columns cart-section oflow">
    <!-- Cart -->
    <table class="table cart-table responsive-table">
        <tr>
            <th width="30px" style="font-size:14px;">
                
            </th>
            <th width="30px" style="font-size:14px;">
                Tên món
            </th>
            <th width="30px" style="font-size:14px;">
                Giá
            </th>
            <th width="30px" style="font-size:14px;">
                Số lượng
            </th>
           
            <th width="30px" style="font-size:14px;">
            </th>
            <th width="30px" style="font-size:14px;">
            </th>
        </tr>
        <!-- Item -->
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img style="height:120px;width:120px" src="~/Images2/@item.sAnh" />
                </td>
                <td class="cart-title">
                    <a href="@Url.Action("Details", "Order", new { id = item.iMamon})" style="font-size:14px;">@item.sTenmon</a>
                </td>
                <td style="font-size:14px;">
                    @item.dDongia.000đ
                </td>
                @using (Html.BeginForm("CapnhatGiohang", "Giohang", new { @iMaSp = item.iMamon }))
                {
                    <td>


                        <input type="number" min="1" name="txtSoluong" value="@item.iSoluong" class="qty" />

                    </td>
                    
                    <td> <input type="submit" value="Cập Nhật" /></td>
                    <td>
                        <a class="cart-remove" style="font-size:15px;font-weight:bold"><span style="background-color:red">@Html.ActionLink("Xóa", "XoaGiohang", new { @iMaSp = item.iMamon })</span></a>
                    </td>

                }
            </tr>
        }

    </table>

    <div style="float:right;font-size:18px;font-weight:bold;">        
        <a style="margin-left:30px;font-size:18px;font-weight:bold" href="@Url.Action("SPTheoloai/5","Order")"> Thêm nước |</a>
        
        <a>@Html.ActionLink("Thanh toán", "Dathang", "GioHang")</a>
    </div>
    <div>
        <p style="font-size:22px; font-weight:bold;float:right;"><span style="color:#bf1e2d;">Tổng tiền:</span> @ViewBag.Tongtien.000đ</p>
    </div>

</div>