
@{
    ViewBag.Title = "Dangky";
    Layout = "~/Views/Shared/_LayoutSignup.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Đăng ký thành viên</a>
        </h1>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body pb2">
            <div class="accordion-list-content" style="overflow: hidden; display: block;">
                <div class="col-md-6 check-name">
                    <div>
                        @using (Html.BeginForm())
    {
                    @Html.ValidationSummary(true)
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Họ và Tên">
                                    @ViewData["Loi1"]
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Tên đăng nhập">
                                    @ViewData["Loi2"]
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" placeholder="Mật Khẩu">
                                    @ViewData["Loi3"]
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" placeholder="Nhập lại mật khẩu">
                                    @ViewData["Loi4"]
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="email" class="form-control" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Địa chỉ">
                                    @ViewData["Loi5"]
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="tel" class="form-control" placeholder="Số điện thoại">
                                    @ViewData["Loi6"]
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input type="date" class="form-control" placeholder="Ngày sinh">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-default" style="margin-left:15px;">Đăng ký</button>
                        </form>
                    
    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


