
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutDetails.cshtml";
}


<div class="single-product cold-md-12">
    <div class="flexslider col-md-6" >
        <img width="885" class="img-responsive" src="~/Images2/@Model.Anh"/>
    </div>
    <div class="product-details col-md-6">
        <h1>@Model.Tenmon</h1>
        <p class="price" >
            @Model.Giaban.000đ
        </p>
        <p style="font-size:20px;line-height:30px">
            @Model.Mota
        </p>
        <form action="#">
            <div class="qtyminus">
            </div>
            <input style="font-size:15px" type="number" name="quantity" min="1" max="100" class="qty">
            <div class="qtyplus">
            </div>
        </form>
        <a type="submit" style="margin-left:15px;height:34px;border-radius:5px;background-color: #c11b1b;color: white;" href="@Url.Action("ThemGiohang","Giohang",new { @iMamon= Model.Mamon, @strURL=Request.Url.ToString() })"> ORDER </a>
        <hr>
        <div class="availability">
            <p>
                Tình trạng:
            </p>
            <a>@Model.Trangthai</a>
        </div>
    </div>
    </div>
